<!DOCTYPE html >
<html>
<head>
<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<title>todolist 2</title>
<link rel="stylesheet" href="css/style.css" >
</head>
<body bgcolor="lightblue">
	<h1>how are you all</h1>
<ul>
<li>tea</li>
<li>tea</li><li>tea</li>
<li><%= dataset %></li>

<% for(var i=0; i<userin.length ;i++){ %>
<li><%= userin[i] %></li>
<% } %>
</ul>
<div class="hel">
	<form action="/" method="post">
<table>
		<tr>
			<td><input type="text" name="first"></td><td>
				 <input type="submit" value="Submit">
			</td>
		</tr>
	</table>
	</form>
</div>




</body>
<footer>copyright by govt of India</footer>
</html>